{% extends 'adminAccountTemplates/adminLayout.html' %}

{% block admin-content %}

<div class="col-sm-6">

    <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                <label>System Features</label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                <a class="btn btn-primary btn-block" href="{% url 'create-feature' %}">
                                Add System Feature
                                </a>
                                </div>
                            </div>
    </div>

    <div class="row">
        <div class="column is-full">
            <table class="table is-fullwidth">
                <thead>
                   <th>System Feature</th>
                    <th></th>
                </thead>
                <tbody>
                {% for feature in features %}
                        <tr>
                            <td>{{ feature.sysFeature }}</td>
                            <td>
{#                                 <a class="button is-danger" href="{% url 'system-admin:delete-feature' feature.id %}">Delete</a>#}
                                <a class="btn btn-primary btn-danger" href="{% url 'delete-feature' feature.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}