{% extends 'adminAccountTemplates/adminLayout.html' %}

{% block admin-content %}

    <div class="columns">
        <div class="column is-three-quarters">
            <p class="subtitle">
                Assign Roles to this user
            </p>
        </div>
    </div>

    <div class="columns">

        <div class="column is-three-quarters">
            <p>
                Assign roles to {{ user.first_name | add:" " | add:user.last_name }}.
            </p>
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <input type="submit" value="Submit" class="button is-danger">
                  </p>
                  <p class="control">
                    <a class="button is-light" href="{% url 'users' %}">
                      Cancel
                    </a>
                  </p>
                </div>
            </form>

        </div>
    </div>

{% endblock %}