{% extends 'adminAccountTemplates/adminLayout.html' %}

{% block content %}
    <br><br><br><br><br><br><br><br>
{##}
{#    <div class="columns">#}
{#        <div class="column is-three-quarters">#}
{#            <p class="subtitle">#}
{#                Are you sure you want to delete this role?#}
{#            </p>#}
{#        </div>#}
{#    </div>#}
{##}
{#    <div class="columns">#}
{##}
{#        <div class="column is-three-quarters">#}
{#            <p>#}
{#                You are about to delete {{ object }}.#}
{#            </p>#}
{#            <form action="" method="post">#}
{#                {% csrf_token %}#}
{#                <div class="field is-grouped is-grouped-centered">#}
{#                  <p class="control">#}
{#                    <input type="submit" value="Delete" class="button is-danger">#}
{#                    </input>#}
{#                  </p>#}
{#                  <p class="control">#}
{#                    <a class="button is-light" href="{% url 'system-admin:roles' %}">#}
{#                      Cancel#}
{#                    </a>#}
{#                  </p>#}
{#                </div>#}
{#            </form>#}
{##}
{#        </div>#}
{#    </div>#}
 <div class="col-sm-6">
  <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                <label>Are you sure you want to delete this role?</label>
                                </div>
                            </div>

    </div>
         <div class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="form-group">
                                 You are about to delete {{ object }}.
                                    <form action="" method="post">
                {% csrf_token %}
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <input type="submit" value="Delete" class="btn btn-primary btn-danger">
                    </input>
                  </p>
                  <p class="control">
                    <a class="btn btn-primary btn-primary" href="{% url 'roles' %}">
                      Cancel
                    </a>
                  </p>
                </div>
            </form>
                                </div>
                            </div>

    </div>
</div>

{% endblock %}